article {
  padding: 1rem;
  color: #25113d;
  background-color: var(--primary-color);
  border: 1px solid var(--tertiary-color);
  border-radius: 8px;
}

h2 {
  margin: 0;
  color: var(--quintenary-color);
}

time {
  color: var(--quintenary-color);
}

.actions {
  text-align: right;
  margin: 0;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: var(--quintenary-color);
  color: #FFFFFF;
  border-radius: 4px;
  border: none;
  padding: 0.35rem 0.8rem;
  font-size: 0.9rem;
  transition: all 200ms ease;
}

.actions button:hover,
.actions button:active {
  background-color: var(--quaternary-color);
}

.actions button:active {
  transform: scale(0.9);
}
